@using Project_64130005.Models
@model Project_64130005.Models.DonHang

@{
    Project_64130005Entities1 db = new Project_64130005Entities1();
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_64130005/Views/Shared/_LayoutAdmin.cshtml";
    KhachHang kh = db.KhachHangs.Find(Model.KhachHang.MaKH);
    NhanVien nvsession = (NhanVien)Session["NV"];
    NhanVien nv = db.NhanViens.Find(nvsession.MaNV);
    DonHang orders = db.DonHangs.Find(Model.MaDH);
}


@using (Html.BeginForm("Edit", "DonHang_64130005", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaDH)
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Thông tin đơn hàng #@Model.MaDH</h3>
                <div class="du--lieu-san-pham">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="so--luong">Mã sản phẩm</th>
                                <th class="so--luong">Tên sản phẩm</th>
                                <th class="so--luong">Ảnh</th>
                                <th class="so--luong">Số lượng</th>
                                <th class="so--luong">Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in orders.ChiTietDHs)
                            {
                                if (orders.MaDH == item.MaDH)
                                {
                                    <tr>
                                        <td>#@item.Sach.MaSach</td>
                                        <td>@item.Sach.TenSach</td>
                                        <td><img src="~/Images/SanPham/@Url.Content(item.Sach.AnhSach)" alt="" width="50px"></td>
                                        <td>@item.SoLuong</td>
                                        <td>@string.Format("{0:#,0}", item.ThanhTien / item.SoLuong) đ</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert">
                    @string.Format("{0:#,0}", orders.TongTien)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Thông tin khách hàng</h3>
                <div class="row">
                    <div class="form-group  col-md-6">
                        <label class="control-label">Họ tên khách hàng</label>
                        <input class="form-control" type="text" value="@kh.FullName()" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại khách hàng</label>
                        <input class="form-control" type="text" value="@kh.SDT" disabled>
                    </div>
                    <div class="form-group  col-md-12">
                        <label class="control-label">Địa chỉ khách hàng</label>
                        <input class="form-control" type="text" value="@Model.DiaChi" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Nhân viên bán hàng</label>
                        <input class="form-control" type="text" value="@Model.NhanVien.HoTenNV" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Nhân viên giao hàng</label>
                        <input class="form-control" type="text" value="@Model.NhanVien1.HoTenNV" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Trạng thái đơn hàng</label>
                        <input class="form-control" type="text" value="@orders.MaTrangThai" disabled>
                    </div>
                    
                </div>
                <div class="row">

                    <div class="form-group  col-md-12">
                        <label class="control-label">Hình thức thanh toán</label>
                        @if (orders.MaThanhToan == "ONL")
                        {
                            <input class="form-control" type="text" value="Thanh toán qua cổng VNPAY" disabled>
                        }
                        else
                        {
                            <input class="form-control" type="text" value="Trả tiền mặt khi nhận hàng" disabled>
                        }
                    </div>
                    <div class="form-group  col-md-12">
                        <label class="control-label">Tổng cộng thanh toán: </label>
                        <p class="control-all-money-total">= @string.Format("{0:#,0}", orders.TongTien) VNĐ</p>
                    </div>



                </div>
            </div>
        </div>
    </div>
}
