@using Project_64130005.Models
@model Project_64130005.Models.DonHang

@{
    Project_64130005Entities1 db = new Project_64130005Entities1();
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin_64130005/Views/Shared/_LayoutAdmin.cshtml";
    KhachHang kh = db.KhachHangs.Find(Model.KhachHang.MaKH);
    NhanVien nvsession = (NhanVien)Session["NV"];
    NhanVien nv = db.NhanViens.Find(nvsession.MaNV);
    DonHang orders = db.DonHangs.Find(Model.MaDH);
}

@using (Html.BeginForm("Edit", "DonHang_64130005", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaDH)
    <div class="row">
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Thông tin đơn hàng #@Model.MaDH</h3>
                <div class="du--lieu-san-pham">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th class="so--luong">Mã sản phẩm</th>
                                <th class="so--luong">Tên sản phẩm</th>
                                <th class="so--luong">Số lượng</th>
                                <th class="so--luong">Giá bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in orders.ChiTietDHs)
                            {
                                if (orders.MaDH == item.MaDH)
                                {
                                    <tr>
                                        <td>#@item.Sach.MaSach</td>
                                        <td>@item.Sach.TenSach</td>
                                        <td>@item.SoLuong</td>
                                        <td>@string.Format("{0:#,0}", item.ThanhTien / item.SoLuong) đ</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert">
                    @string.Format("{0:#,0}", orders.TongTien) đ
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="tile">
                <h3 class="tile-title">Thông tin khách hàng</h3>
                <div class="row">
                    <div class="form-group  col-md-6">
                        <label class="control-label">Họ tên khách hàng</label>
                        <input class="form-control" type="text" value="@kh.FullName()" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Số điện thoại khách hàng</label>
                        <input class="form-control" type="text" value="@kh.SDT" disabled>
                    </div>
                    <div class="form-group  col-md-12">
                        <label class="control-label">Tên người nhận</label>
                        <input class="form-control" type="text" value="@orders.TenNguoiNhan" disabled>
                    </div>
                    <div class="form-group  col-md-12">
                        <label class="control-label">Địa chỉ khách hàng</label>
                        <input class="form-control" type="text" value="@orders.DiaChi" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Nhân viên bán hàng</label>
                        <input class="form-control" type="text" value="@nv.HoTenNV" disabled>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Nhân viên giao hàng</label>
                        @Html.DropDownList("NVGiaoHang", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NVGiaoHang, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Trạng thái đơn hàng</label>
                        <input class="form-control" type="text" value="@orders.MaTrangThai" disabled>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group  col-md-12">
                        <label class="control-label">Hình thức thanh toán</label>
                        @if (orders.MaThanhToan == "ONL")
                        {
                            <input class="form-control" type="text" value="Thanh toán qua cổng VNPAY" disabled>
                        }
                        else
                        {
                            <input class="form-control" type="text" value="Trả tiền mặt khi nhận hàng" disabled>
                        }
                    </div>
                    <div class="form-group  col-md-12">
                        <label class="control-label">Tổng cộng thanh toán: </label>
                        <p class="control-all-money-total">= @string.Format("{0:#,0}", orders.TongTien) VNĐ</p>
                    </div>

                    <div class="tile-footer col-md-12">
                        @if (orders.MaTrangThai == "Chưa giao hàng")
                        {
                            <input type="submit" value="Xác nhận đơn hàng" class="btn btn-primary luu-san-pham" />

                        }
                        @if (orders.MaTrangThai == "Đang giao hàng")
                        {
                            <input type="submit" value="Xác nhận giao hàng" class="btn btn-primary luu-san-pham" />

                        }
                    </div>
                    @if (orders.MaTrangThai == "Chưa giao hàng")
                    {
                        <div class="tile-footer col-md-12">
                            <button class="btn btn-warning huy-san-pham" id="huydonhang" type="button" onclick="cancelOrder()">Hủy đơn hàng</button>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function cancelOrder() {
        $.ajax({
            url: "@(Url.Action("HuyDon", "DonHang_64130005", new { MaDH = orders.MaDH }))",
            type: "POST",
            success: function (data) {
                window.location.href = "/Admin_64130005/DonHang_64130005"
            }
        });

    }
    </script>
}
<style>
    .huy-san-pham {
        width: 100%;
        height: 60px;
        font-size: 18px;
        line-height: 40px;
        margin-bottom: 15px !important;
        background: red;
        color: white !important;
    }
</style>